
:root{
    --Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Magenta: hsl(333, 88%, 67%);
    --Soft-text-Magenta: hsl(383, 10%, 53%);
    --Light-pink: hsl(300, 24%, 96%);
}

html::before,
html::after {
    position: absolute;
}
html::before{
    /* .rated__text */
    content: url(../assets/images/bg-pattern-top-mobile.svg);
    opacity: 0.3;
    top: -11%;
}
html::after{
    content: url(../assets/images/bg-pattern-bottom-mobile.svg);
    right: -20%;
    bottom: -43%;
    position: fixed;
    opacity: 0.5;
}

@media screen and (min-width: 768px){
    html::before{
        opacity: 0.7;
        top: 0;
    }

    html::after{
        bottom: -46%;
        opacity: 0.7;
        right: 0;
    }
}
body {
    margin: 0;
    padding: 0 21px;;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;  
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background-color: #ffffff;
}

@media screen and (min-width: 768px){
    body{
        max-width: 1440px;
        display: grid;
        justify-items: end;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 401px);
        padding: 0 151px;
          
    }
}

                                                    /* HEADER */
.header{
    text-align: center;
    padding: 81px 17px 41px;
}
.header--title{
    color: var(--Dark-Magenta);
    font-size: 2.3rem;
}

.header--text{
    color: var(--Dark-Magenta);
    font-weight: 400;
    font-size: 1.15rem;
}
@media screen and (min-width: 768px){
    .header{
        text-align: left;
        font-weight: 700;
        grid-column: 1/3;
        height: 301px;
    }
    .header--text{
        padding-right: 51px;
    }
}
                                                /* RATES  --  STARS  */

.rates{
    text-align: center;
    padding: 0 17px 41px;
}
@media screen and (min-width: 768px){
    .rates{
        margin-top: 81px;
        height: 301px;
}
}

.rated{
    background-color: hsla(0, 11%, 82%, 0.31);
    margin: 19px 0;
    padding: 11px 0;
    border-radius: 5px;    
}

@media screen and (min-width: 768px){
    .rated{
        width: 401px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding-left: 21px;
}
    .rated__text{
        margin-left: 25px;
    }

    .rated:nth-child(2){
        margin-left: 45px;
    }
    .rated:nth-child(3){
        margin-left: 91px;
    }
}

.Rated__stars{
    background-color: orange;
    width: 21px;
    height: 21px;
    display: inline-block;
    clip-path: polygon(
       50% 0%, 
        61% 35%,
         98% 35%,
          68% 57%, 
           79% 91%,
            50% 70%,
             21% 91%,
              32% 57%,
               2% 35%,
                39% 35%
    );
}

.rated__text{
    color: var(--Dark-Magenta);
}

                                                     /* TESTIMONIAL */
           
.testimonial{
    background-color: var(--Dark-Magenta);
    border-radius: 5px;
    padding: 21px;
    margin-bottom: 19px;
}

.testimonial__header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-bottom: 35px;
}

.testimonial__img{
    border-radius: 50%;
    max-width: 25%;
}

.testimonial__author{
    margin: 0 80px 0 21px;
    padding-top: 15px;
}
.testimonial__title{
    margin: 0;
    font-size: 15px;
    color: var(--Light-pink);
}

.textimonial__subtitle{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: var(--Soft-text-Magenta);
}

.testimonial__text {
    margin: 0;
    color: var(--Light-pink);
    font-size: 13px;
    font-weight: 400;
}
@media screen and (min-width: 768px){   
    .testimonials{
        grid-column: 1 / 4;
        grid-row: 2;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        width: 100%;
        height: 211px;
    }
    .testimonial{
        width: 291px;
        margin-bottom: 0;
        position: relative;
    }

    .testimonial:nth-child(2){
        top: 35px;
    }
    .testimonial:last-child{
        top: 70px;
    }
}